<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Guest Book</title>

    <link rel="stylesheet" href="styles/admin.css">
    <script src="//code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">

    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQYcENVSbpuKUMylaVjx6boFkb46opCmc4Pg&s">
</head>
<body>
    <%- include('partials/header') %>

    <h1>Admin Page</h1>

    <% if (contacts.length === 0) { %> 
        <h2>It looks like there are no contacts currently.</h2>
    <% } else { %>
        <table id="summary-table" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>LinkedIn</th>
                    <th>Meet</th>
                    <th>Other</th>
                    <th>Message</th>
                    <th>Mailing List</th>
                    <th>Format</th>
                    <th>Time Submitted</th>
                </tr>
            </thead>
            <tbody>
                <% contacts.forEach(contact => { %>
                    <tr>
                        <td><%= contact.fname %> <%= contact.lname %></td>
                        <td><%= contact.email %></td>
                        <td><%= contact.jtitle %></td>
                        <td><%= contact.company %></td>
                        <td><%= contact.linkedin %></td>
                        <td><%= contact.meet %></td>
                        <td><%= contact.other %></td>
                        <td><%= contact.message %></td>
                        <td><%= contact.mailinglist %></td>
                        <td><%= contact.form %></td>
                        <td><%= contact.formattedTimestamp %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>

    <script>
        $(document).ready(function() {
            $('#summary-table').DataTable();
        });
    </script>
</body>
</html>