<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest-Book-Form</title>

    <link rel="stylesheet" href="styles/styles.css">

    <script src="js/error.js" defer></script>
    <script src="//code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">


    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQYcENVSbpuKUMylaVjx6boFkb46opCmc4Pg&s">
</head>

<!--fname: req.body.fname,
    lname: req.body.lname,
    email: req.body.email,
    linkedin: req.body.linkedin,
    mailingList: req.body.mailingList,
    message: req.body.message,
    method: req.body.method,
    other: req.body.other
-->

<body>
    <h1>Admin Page</h1>
        <table id = "summary-table" class = "display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>LinkedIn</th>
                    <th>Email</th>
                    <th>Meet</th>
                    <th>other</th>
                    <th>Message</th>
                    <th>Mailing List</th>
                    <th>Format</th>
                </tr>
            </thead>
            <tbody>
                <% guestEntries.forEach(guestEntry => { %>
                    <tr>
                        <td><%= guestEntry.fname %><%= guestEntry.lname %></td>
                        <td><%= guestEntry.email %></td>
                        <td><%= guestEntry.jtitle %></td>
                        <td><%= guestEntry.company %></td>
                        <td><%= guestEntry.linkedin %></td>
                        <td><%= guestEntry.email %></td>
                        <td><%= guestEntry.meet %></td>
                        <td><%= guestEntry.other %></td>
                        <td><%= guestEntry.message %></td>
                        <td><%= guestEntry.mail %></td>
                        <td><%= guestEntry.method %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

    <script defer>
        let table = new DataTable('#summary-table');
    </script>
</body>
</html>