<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest-Book-Form</title>

    <script src="js/error.js" defer></script>

    <link rel="stylesheet" href="styles/styles.css">

    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQYcENVSbpuKUMylaVjx6boFkb46opCmc4Pg&s">
</head>

<body>
    <%- include('partials/header') %>
    <form id="guest-book" action="return" method="post">
        <h1>Thank you for filling out the form</h1>
        <div class = "item-container">
            <div class = "item">
                <p>Name: <%= contacts.fname %> <%= contacts.lname %></p>
            </div>
            <div class = "item">
                <p>Job title: <%= contacts.jtitle %></p>
            </div>
            <div class = "item">
                <p>Company: <%= contacts.company %></p>
            </div>
            <div class = "item">
                <p>LinkedIn: <%= contacts.linkedin %></p>
            </div>
            <div class = "item">
                <p>Email: <%= contacts.email %></p>
            </div>
            <div class = "item">
                <p>Submitted: <%= contacts.time %></p>
            </div>

        </div>
        <button type="submit" id="return-button">return </button>
    </form>
</body>
</html>